
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sistema de resercas de laboratorios</h2>
<div class="row">
    <table class="table table-dark">
        <tr>
            <th> Nombres</th>
            <th> Apellidos</th>
            <th> Cedula</th>

        </tr>
        <tr>
            <th> Anthony Elvis</th>
            <th> Sanchez Guashpa</th>
            <th> 085254547564855</th>

        </tr>
        <tr>
            <th> Carlos Juan</th>
            <th> Perez Angulo</th>
            <th> 1848456456151</th>

        </tr>
    </table>
</div>
<div class="row" >
    <button type="button" class="btn btn-primary">Guardar</button>
</div>
